import { handleActions } from 'redux-actions';

const defaultState = {};

const Dialog = handleActions({
  @name@: (state, action) => ({
    ...action.payload,
  }),
}, defaultState);

export default @@name@@;